<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../public/" rel="icon">
  <link href="../public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/quill/quill.snow.css" rel="stylesheet"
  <link href="../public/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<head>


<body>
  <div class="m-auto container m-auto my-auto">
  <div class="col-lg-12">

    <div class="card md:w-full">
      <div class="card-body w-100">
        <h5 class="card-title">Personal Information</h5>

        <form class="row g-3  needs-validation md:w-full" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Name</label>
            <input type="text" class="form-control" id="validationCustom01"  required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Age</label>
            <input type="text" class="form-control" id="validationCustom02"  required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Sex</label>
            <div class="input-group has-validation">
              
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom03" class="form-label">Permanent Address</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">Educational Attainment</label>
            <select class="form-select" id="validationCustom04" required>
          
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Religion</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

          <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Civil Status</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a civil status.
            </div>
            </div>

            <div class="col-md-6">
              <label for="validationCustom04" class="form-label">If married, name of spouse</label>
              <input type="text" class="form-control" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a name of spouse.
              </div>
          </div>

          
          <div class="col-md-12">
            <label for="validationCustom04" class="form-label">Number of family members (except you)</label>
        </div>
        <div class="col-md-6 mt-1">
          <label for="validationCustom04" class="form-label">can participate in farm work</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a name of spouse.
          </div>
      </div>
      <div class="col-md-6 mt-1">
        <label for="validationCustom04" class="form-label">cannot do farm work</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a name of spouse.
        </div>
    </div>
    <div class="col-md-6 mt-1">
      <label for="validationCustom04" class="form-label">male</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a name of spouse.
      </div>
  </div>
  <div class="col-md-6 mt-1">
    <label for="validationCustom04" class="form-label">female</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a name of spouse.
    </div>
</div>

<div class="row">
<div class="col-md-6">
  <div class="form-group mt-3">
  <label for="education">Source of Income</label>
  
  <div class="form-row">
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="sale of agricultural products" value="Sale of agricultural products">
  <label class="form-check-label" for="sale of agricultiural products">Sale of agricultural products</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="employment" value="Employment">
  <label class="form-check-label" for="employment">Employment</label>
  </div>

  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id=" business" value="Business">
  <label class="form-check-label" for="business">Business</label>
</div>



</div>
</div>
</div>

<!-- Here -->

<div class="col-md-6">
  <div class="form-group">
  <label for="education"></label>
  
  <div class="form-row">
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="contact labor" value="Contact labor">
  <label class="form-check-label" for="contact labor">Contact Labor</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="agricultural wage (por dia)" value="Agricultural wage (por dia)">
  <label class="form-check-label" for="gricultural wage (por dia)">Agricultural wage (por dia)</label>
  </div>

  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="elementary" value="Elementary">
  <label class="form-check-label" for="elementary">Elementary</label>
</div>
</div>
</div>
</div>






<div class="col-md-6 ">
  <label for="validationCustom04" class="form-label">can participate in farm work</label>
  <input type="text" class="form-control" id="validationCustom05" required>
  <div class="invalid-feedback">
    Please provide a name of spouse.
  </div>
</div>
<div class="col-md-6 ">
<label for="validationCustom04" class="form-label">cannot do farm work</label>
<input type="text" class="form-control" id="validationCustom05" required>
<div class="invalid-feedback">
  Please provide a name of spouse.
</div>
</div>








</div>


<!-- Anotehr -->














          <!-- <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div> -->
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form><!-- End Custom Styled Validation -->

      </div>
    </div>

    

  </div>
  </div>
    
</body>
   <!-- ======= Footer =======
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div> -->
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="../public/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../public/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../public/assets/vendor/echarts/echarts.min.js"></script>
    <script src="../public/assets/vendor/quill/quill.min.js"></script>
    <script src="../public/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../public/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../public/assets/vendor/php-email-form/validate.js"></script>
  
  
    <link href="../public/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!-- Template Main JS File -->
    <script src="../public/assets/js/main.js"></script>
  